<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      This is a simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies. <span class="bold">Try this app to organize your notes!</span>
    </p>
  </div>
</section>
