body {
  background: #c75e5e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #67176d, #c75e5e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #67176d, #c75e5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  width: 30%;
}

.bg-black {
  background: #090909;
}