<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Notes App</title>
    <!-- Agrega el CSS de Material Design Bootstrap (MDB) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {{> navigations}}

    <main class="container p-4">
      {{> messages}}  {{!-- forma de llamar un partial en handle bar, son templetes reutilizables a las que se puede acceder desde cualquier otro templete --}}
      {{> errors}} 
      {{{body}}} {{!-- Lo único que va a cambiar es lo que esté dentro de las tres llaves --}}
    </main>

    <footer class="bg-dark text-center text-lg-start footer">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/">Karla Paola Macedo</a>
      </div>
      <!-- Copyright -->
    </footer>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Agrega los scripts de Material Design Bootstrap (MDB) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
  </body>
</html>
